body {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 15px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-bottom: 8px;
}

.required {
  color: rgba(219, 26, 26, 0.829);
}

label {
  font-size: 14px;
}

#str-length {
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(155, 150, 150);
  outline-color: rgb(155, 150, 150);
  width: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
}

#str-length.invalid {
  border-style: solid;
  background-color: rgb(252, 243, 243);
  border-color: rgb(255, 100, 100);
  outline-color: rgb(255, 100, 100);
}

#str-length-error {
  margin-left: 3px;
  color: rgba(219, 26, 26, 0.829);
  font-size: 12px;
  font-style: italic;
}

#str-length-empty {
  margin-left: 3px;
  font-size: 12px;
  font-style: italic;
}

button {
  font-family: "Roboto", sans-serif;
  margin-right: 1px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(155, 150, 150);
  border-radius: 10px;
  padding: 7px;
}

button:hover {
  background-color: rgba(155, 150, 150, 0.247);
}

button:active {
  background-color: rgba(155, 150, 150, 0.452);
}

button:disabled,
button:disabled:hover {
  background-color: initial;
  cursor: not-allowed;
}

#generate-button {
  background-color: rgba(0, 89, 255, 0.8);
  border-width: 2px;
  border-color: rgba(0, 89, 255, 0.308);
  color: rgb(255, 255, 255);
}

#generate-button:hover {
  background-color: rgba(0, 89, 255, 0.842);
}

#generate-button:active {
  background-color: rgba(0, 89, 255, 0.945);
}

#generate-button:disabled {
  border-color: rgb(155, 150, 150);
  background-color:rgb(155, 150, 150);
}

#result {
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
